.vscode/**
.vscode-test/**
out/test/**

node_modules/**
!node_modules/keyv
!node_modules/json-buffer

out/
!out/main.js

other/
.pytest_cache/
.nyc_output/
coverage/
demo/
tmp/

.deepsource.toml
.pre-commit-config.yaml

resources/included_assets.json
resources/assets

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
