.vscode/**
.vscode-test/**
out/test/**

other
.pytest_cache

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts


# pyside2-template
include/pyside2-template/.pytest_cache
include/pyside2-template/.venv
include/pyside2-template/.github
include/pyside2-template/other
include/pyside2-template/*lock