.vscode/**
.vscode-test/**
out/test/**

other/
.pytest_cache/
.nyc_output/
coverage/
demo/
tmp/
stubs/

.deepsource.toml
.pre-commit-config.yaml

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
